H1 { 
   text-align: center; 
}

CAPTION { 
   font-weight: bold 
}

/* Link in the top navbar */
A.qindex {}

A.qindexRef {}

/* Link to any cross-referenced Doxygen element */
A.el { 
   text-decoration: none; 
   font-weight: bold 
}

A.elRef { 
   font-weight: bold 
}

/* Link to any cross-referenced Doxygen element inside a code section 
   (ex: header)
*/
A.code { 
   text-decoration: none; 
   font-weight: normal; 
   color: #4444ee 
}

A.codeRef { 
   font-weight: normal; 
   color: #4444ee 
}

A:hover { 
   text-decoration: none; 
   background-color: lightblue 
}

DL.el { 
   margin-left: -1cm 
}

/* A code fragment (ex: header) */
DIV.fragment { 
   width: 100%; 
   border: none; 
   background-color: #CCCCCC 
}

/* In the alpha list (coumpound index), style of an alphabetical index letter */
DIV.ah { 
   background-color: #CCCCCC; 
   font-weight: bold; 
   color: #ffffff; 
   margin-bottom: 3px; 
   margin-top: 3px 
}

/* Method name (+ type) */
TD.md { 
   background-color: lightblue; 
   font-weight: bold; 
}

/* Method parameter (some of them) */
TD.mdname1 { 
   background-color: lightblue; 
   font-weight: bold; color: #602020; 
}

/* Method parameter (some of them) */
TD.mdname { 
   background-color: lightblue; 
   font-weight: bold; 
   color: #602020; 
   width: 600px; 
}

/* Separator between methods group (usually empty, seems not supported by IE) */
DIV.groupHeader { 
   margin-left: 16px; 
   margin-top: 12px; 
   margin-bottom: 6px; 
   font-weight: bold 
}

DIV.groupText { 
   margin-left: 16px; 
   font-style: italic; 
   font-size: smaller 
}

BODY { background: #FFFFFF
}

/* BODY { 
   background: url(sources/bg_salome.gif) 
} */

div.tabs { 
  text-align: justify; 
  font-weight: bold;
  color: #FFFFFF;
}

DIV.div-footer { 
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0.2em;
  text-align: right;
  font-size: 9pt; 
}

/* In File List, Coumpound List, etc, 1st column of the index */
TD.indexkey { 
   background-color: #CCCCCC; 
   font-weight: bold; 
   padding-right  : 10px; 
   padding-top    : 2px; 
   padding-left   : 10px; 
   padding-bottom : 2px; 
   margin-left    : 0px; 
   margin-right   : 0px; 
   margin-top     : 2px; 
   margin-bottom  : 2px  
}

/* In File List, Coumpound List, etc, 2nd column of the index */
TD.indexvalue { 
   background-color: #CCCCCC; 
   font-style: italic; 
   padding-right  : 10px; 
   padding-top    : 2px; 
   padding-left   : 10px; 
   padding-bottom : 2px; 
   margin-left    : 0px; 
   margin-right   : 0px; 
   margin-top     : 2px; 
   margin-bottom  : 2px  
}

span.keyword       { color: #008000 }
span.keywordtype   { color: #604020 }
span.keywordflow   { color: #e08000 }
span.comment       { color: #800000 }
span.preprocessor  { color: #806020 }
span.stringliteral { color: #002080 }
span.charliteral   { color: #008080 }
