    <li class="footer"></li>
   </ul>
 </div>
 <div class="footer1">
 <div style="text-align: center;">
 Copyright &copy; 2007-2011  CEA/DEN, EDF R&amp;D, OPEN CASCADE<br>
 Copyright &copy; 2003-2007  OPEN CASCADE, EADS/CCR, LIP6, CEA/DEN, CEDRAT, EDF R&amp;D, LEG, PRINCIPIA R&amp;D, BUREAU VERITAS<br>
 </div>
 </div>
</body>
</html>
		